{% extends "base.html" %}

{% block content %}

    <section class="section--grid">
        {% if pags %}
        <div class="grid" id="grid">
            {% for gif in pags %}
            <div id="grid-item" data-gif-id="1">
                <div class="gif_wrapper">
                    <div class="gif_viewer">
                        <div>
                            {% if use_cache %}
                                <gif-player loop="loop" controls="controls" href="{% url 'gifspool:gifs' gif.id gif.name %}" src="{{ gif.mp4_file_url }}"></gif-player>
                            {% else %}
                                <gif-player loop="loop" controls="controls" href="{% url 'gifspool:gifs' gif.id gif.name %}" src="{{ gif.mp4_file_url }}"></gif-player>
                            {% endif %}
                            <ins class="play-gif"></ins>
                            <span class="spinner"></span>
                        </div>
                    </div>
                    <div class="gif_item_info">
                        <ul class="gif_item_wrap">
                            <li class="gif_item_emoji">
                                <i class="fa fa-heart"></i><span>{{ gif.likes }}</span>
                                <ul class="emoji_heart">
                                    <li data-action="shocked">
                                        <img src="/static/img/emoji/shocked.svg" alt="">
                                        <span>{{ gif.shocked }}</span>
                                    </li>
                                    <li data-action="loved">
                                        <img src="/static/img/emoji/loved.svg" alt="">
                                        <span>{{ gif.loved }}</span>
                                    </li>
                                    <li data-action="funny">
                                        <img src="/static/img/emoji/funny.svg" alt="">
                                        <span>{{ gif.laugh }}</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="gif_item_view">
                                <i class="fa fa-eye"></i><span>{{ gif.views }}</span>
                            </li>
                            <li class="gif_item_share">
                                <i class="fa fa-paper-plane"></i>
                                <ul class="share_gif">
                                    <li data-share="facebook">
                                        <a class="soc_facebook" href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li data-share="twitter">
                                        <a class="soc_twitter" href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li data-share="vkontakte">
                                        <a class="soc_vkontakte" href="#"><i class="fa fa-vk"></i></a>
                                    </li>
                                    <li data-share="copy">
                                        <a class="soc_copy" href="#"><i class="fa fa-link"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="gif_item_meta">
                            <a href="{% url 'gifspool:onegif' gif.id gif.name %}">{{ gif.name }}</a>
                        </div>
                            <div class="gif_item_tags">
                                <span>
                                    Теги:
                                </span>
                                {% for hashtag in gif.hashtags.all %}
                                    <a href="search?tags=%23{{ hashtag.hashtag }}">#{{ hashtag }}</a>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>

    <div class="pagination">
        <span class="step-links">
            {% if pags.has_previous %}
                <a href="?page={{ pags.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ pags.number }} of {{ pags.paginator.num_pages }}.
            </span>

            {% if pags.has_next %}
                <a href="?page={{ pags.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

