{% extends "base.html" %}

{% include "base.html" %}



{% block content %}

    <main>

        <section class="section--single-gif">
            <div class="gif_wrapper" id="single_gif">
                <div class="gif_viewer">
                    <div>
                        <gif-player loop="loop" controls="controls" src="{{ gif.mp4_file_url }}"></gif-player>
                        <span class="spinner"></span>
                    </div>
                </div>
                <div class="gif_item_wrap">
                    <span class="all_likes">
                        <i class="fa fa-heart"></i><span>{{ gif.likes }}</span>
                    </span>
                    <ul class="emoji_heart">
                        <li data-action="shocked">
                            <a class="shocked" gif_id="{{ gif.id }}" gif_name="{{ gif.name }}" style="text-decoration: none">
                                <img src="/static/img/emoji/shocked.svg" alt="">
                                <span class="shocked_num">{{ gif.shocked }}</span>
                            </a>
                        </li>
                        <li data-action="loved">
                            <a class="loved" gif_id="{{ gif.id }}" gif_name="{{ gif.name }}" style="text-decoration: none">
                                <img src="/static/img/emoji/loved.svg" alt="">
                                <span class="loved_num">{{ gif.loved }}</span>
                            </a>
                        </li>
                        <li data-action="funny">
                            <a class="laugh" gif_id="{{ gif.id }}" gif_name="{{ gif.name }}" style="text-decoration: none">
                                <img src="/static/img/emoji/funny.svg" alt="">
                                <span class="laugh_num">{{ gif.laugh }}</span>
                            </a>
                        </li>
                    </ul>                   
                </div>
                <div class="gif_item__wrap_share">
                    <span class="gif_item_share">
                        <i class="fa fa-share-alt"></i>                                     
                    </span>
                    <ul class="share_gif">
                        <li data-share="facebook">
                            <a class="soc_facebook" href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li data-share="twitter">
                            <a class="soc_twitter" href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li data-share="vkontakte">
                            <a class="soc_vkontakte" href="#"><i class="fa fa-vk"></i></a>
                        </li>
                        <li data-share="copy">
                            <a class="soc_copy" href="#"><i class="fa fa-link"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="gif_item_info">
                    <div class="gif_item_meta">
                        {{ gif.name }}
                    </div>
                    <div class="gif_item_view">
                        <i class="fa fa-eye"></i> <span>{{ gif.views }} просмотра</span>
                    </div>
                    <div class="gif_item_tags">
                        <span>
                            Теги:
                        </span>
                        {% for hashtag in gif.hashtags.all %}
                            <a href="http://127.0.0.1:8000/search?tags=%23{{ hashtag.hashtag }}">#{{ hashtag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section class="section--related">
            <div class="container">
                <div class="row">
                    {% for gif in related %}
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div id="grid-item">
                            <div class="gif_wrapper">
                                <div class="gif_viewer">
                                    <a href="{% url 'gifspool:onegif' gif.id gif.name%}">
                                        {% if use_cache %}
                                            <img class="gifplayer" src="/media/{{ gif.jpg_url }}" alt="{{ gif.gif_file }}">
                                        {% else %}
                                            <img class="gifplayer" src="{{ gif.jpg_url }}" alt="{{ gif.gif_file }}">
                                        {% endif %}
                                        <ins class="play-gif"></ins>
                                        <span class="spinner"></span>
                                    </a>
                                </div>
                                <div class="gif_item_info">
                                    <div class="gif_item_meta">
                                        <a href="{% url 'gifspool:onegif' gif.id gif.name %}">{{ gif.name }}</a>
                                    </div>
                                    <div class="gif_item_tags">
                                        <span>
                                        Теги:
                                        </span>
                                        {% for hashtag in gif.hashtags.all %}
                                            <a href="http://127.0.0.1:8000/search?tags=%23{{ hashtag.hashtag }}">#{{ hashtag }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    </main>

    <div class="single-post_nav">
        {% if gifs_links.prev_gif %}
        <a href="{% url 'gifspool:gifs' gifs_links.prev_gif.pk gifs_links.prev_gif.name %}" class="post-prev"><i>&#8592;</i>
            <img class="gifplayer" src="{{ gifs_links.prev_gif.gif_url }}" alt="">
        </a>
        {% endif %}
        {% if gifs_links.next_gif %}
        <a href="{% url 'gifspool:gifs' gifs_links.next_gif.pk gifs_links.next_gif.name %}" class="post-next"><i>&#8594;</i>
            <img class="gifplayer" src="{{ gifs_links.next_gif.gif_url }}" alt="">
        </a>
        {% endif %}
    </div>

{% endblock %}